/* Styles for Article Listing Module */


/* Layout Options*/
.article_listing_container
{
	margin-top: 2em;
}

.article_listing_container hr
{
	background-color: #D7BCE8;
	height: 1px;
}

.article_row
{
	margin-bottom: 5em;
}

/* Font Options */
.article_row_content h4
{
	padding: 0;
	margin: 0;
}
.article_row_content h3
{
	padding: 0;
	margin: 0;
}
.article_row_content p
{
	padding: 0;
	margin: 0;
}

.featured_review_content h3:hover
{
	color: #3B1F2B !important;
}


/* Stars */
.no_stars
{
	padding-bottom: .5em;
}
.article_listing_container .rating_star_filled:before
{
	font-size: 1.5em;
	color: #8884FF !important;
}

.article_listing_container .rating_star_empty:before
{
	font-size: 1.5em;
}
