/* Article Page Styles */

.articles_title_container
{
  margin-bottom: 0em;
  padding: 2em 0;

}

.articles_page_container hr
{
	background-color: #5D576B !important;
	margin: 3em 0 !important;
	height: 1px;
}


.articles_title_container h1 {
  color: #5D576B;
  margin-top: 0px;
}

.articles_title_container p {
  color: #5D576B !important;
}

@media(min-width: 768px)
{
  .articles_title_container {
  background-color: #8884FF;
  margin-bottom: 5em;
  }

  .articles_title_container h1 {
    color: white;
  }

  .articles_title_container p {
    color: white !important;
  }
}

.articles-sidebar > h3:first-of-type
{
  margin-top: 0px;
}
