/* Featured Reviews Styles */



/* Card Style */
.featured_review
{
	margin-bottom: 2em;
}

.featured_review_content
{
	height: 100%;
	margin-bottom: 0px;
}

@media(min-width: 768px)
{
	.featured_reviews_row
	{
		display: flex;

	}
}

.featured_review_header
{
	position: relative;
}

.article_row_content a:hover
{
	color: #3B1F2B !important;
}

/* Carousel Styles */
.slick-dots
{
	list-style: none;
	display: flex !important;
	justify-content: center;
	width: 100%;
	margin: 0;
	padding: 0;

	position: absolute;
	bottom: .2em;
	z-index: 100;
	pointer-events: initial;
}

.slick-dots button
{
	background-color: unset;
	border: unset;
	color: transparent;
	height: 0px;
	/*width: 0px;*/
}

.slick-dots button:before
{
	content:"•";
	display: block;
	padding: .3em;
	color: white;
	font-weight: bolder;
	font-size: 2em;
}

.slick-dots .slick-active button:before
{
	color: #8884FF !important;
}

@media(min-width: 768px)
{
	.slick-dots button:before
	{
		color: #D7BCE8;
	}
}

/* Tag Style */
.featured_review_image_tag
{
	position: absolute;

	top: 0px;
	left:0px;
	right:0px;

	padding: 0 1em;

	height: 2em;
	background-color: #8884FF;
	display: flex;
	justify-content: left;
	align-items: center;
}

.featured_review_image_tag h3
{
	padding: 0px !important;
	display: flex;
	align-items: center;
}

.featured_review_image_tag small
{
	color: white;
}

@media(min-width: 768px)
{
	.featured_review_image_tag
	{
		top:1em;
		left: unset;
		right: unset;
		padding: 0em 1em;
	}
}

/* Font Styling */
.featured_review h3
{
	margin: 0px;
	padding: 0px .5em .5em 0em;
	color: #5D576B;
}


/*Rating Star Styles*/
.rating_star_filled:before
{
	position: relative;
	content: "\2605";
	color: #8884FF;
	font-size: 2em;
}

.rating_star_empty:before
{
	position: relative;
	content: "\2605";
	color: #D7BCE8;
	font-size: 2em;
}