/*Header Styles*/

/*Container Style*/
.header
{
	padding: 1em 0;
	display: flex;
	align-items: center;
	margin: 1em 0;
}

.header_container
{
	background-color: #8884FF;
	color: white !important;
}

@media(min-width: 768px)
{
	.header_container
	{
		background-color: white;
		color: inherit;
	}
}

/*Logo Style*/
.logo_container
{
	flex-grow: 2;
	display: inline-flex;
	align-items: center;
}

.logo_container > h1
{
	font-size: 2em;
	padding: 0 0 0 .5em;
	margin: 0;
	color: white;
}

@media(min-width: 768px)
{
	.logo_container > h1
	{
		color: rgb(93, 87, 107);
	}
}

/* Hamburger Icon */
#hamburger_col
{
}

#hamburger_icon
{
	font-size: 30px;
	color: white;
	cursor: pointer;
}

/* Header Navigation */
.navigation_col ul {
	list-style: none;
	color: rgb(93, 87, 107);
	font-weight: bold;
	display: flex;
	font-size: 1.2em;
}

.navigation_col ul > li {
	margin-left: 1.5em;
}

.navigation_col li:hover {
	color: #749DA0 !important;
}

.navigation_col .active-link {
	color: #8884FF !important;
}
