/*Navbar Styles*/

/*Container Styles*/
.navbar
{
  min-height: unset;
  border-style: none;
  background-color: #8884FF;
  padding: 0.5em 0;

  border-radius: 0px;
}

/*Menu Item Options*/
.navbar-text
{
  margin: .7em 1em;
  color: white !important;
  font-weight: lighter !important;
}

.navbar-text:first-child
{
  padding-left: 0px;
  margin-left: 0px;
}

.active_page
{
	font-weight: bolder !important;
}

/* Hamburger Menu Styles */
#navbar_hamburger_menu
{
	background-color: #53545B;
	color:white;
	width: 100%;
	padding: 1em 0em 1em 0em;
	z-index: 150;

	display: none;
	position: absolute;
	left:0px;
}

#navbar_hamburger_menu li
{
	list-style: none;
	margin: 2em 0;
}
