/* Styles for the header of the review */

.navbar
{
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.review_header
{
	position: relative;
	width: 100%;
	height: 25em;

	background-size: cover;
	background-position: center;

	margin-bottom: 2em;
}

.review_header_container
{
	height: 100%;
}

.review_header_content
{
	height: 100%;
	position: relative;
	display: table;
	vertical-align: bottom;
}

/* Header text */

.review_header_container h1
{
	display: table-cell;
	vertical-align: bottom;
	padding-bottom: .5em;
	color: white;
}

.review_header_container h1 > small
{
	color: white !important;
}

/* Alternative header styles (without image) */
/* Article Page Styles */

.review_title_container
{
  margin-bottom: 0;
  padding: 2em 0;

}

.review_title_container h1 {
  color: #5D576B;
  margin-top: 0px;
}

.review_title_container small {
  color: #749DA0 !important;
}

@media(min-width: 768px)
{
  .review_title_container {
		margin-bottom: 2em;
    background-color: #8884FF;
  }

  .review_title_container h1 {
    color: white;
  }

  .review_title_container small {
    color: white !important;
  }
}

/* Styles for the body of the review */
.review_content
{
	margin-bottom: 2em;
}

.review_content img {
	display: block;
	width: 100%;
	height: auto;
	margin: 2em 0 2em 0;
}

.review_content .inline-float-left
{
	display: block;
	width: 100%;
	height: auto;
	border-radius: 0px;
}

.review_content .inline-float-right
{
	display: block;
	width: 100%;
	height: auto;
	border-radius: 0px;
}

.review_content .inline-full-width
{
	display: block;
	width: 100%;
	height: auto;
	margin: .5em 0;
	border-radius: 0px;
	margin: 2em 0;

}

/* Styles for review content text */
.review_content h2
{
	margin: 2em 0 .5em 0;
	clear: both;
}

.review_content a {
	text-decoration: underline !important;
}


/* Styles for the Review Summary */
.review_summary
{
	min-height: 10em;
	padding: 0em 0em;
	background-color: #5D576B;
}

@media(max-width: 767px)
{
	.review_summary > .container
	{
		margin: 0px;
		padding: 0px;
	}

	.review_summary .row
	{
		margin: 0px;
		padding: 0px;
	}

	.review_summary .col-sm-4
	{
		margin: 0px;
		padding: 0px;
		width: 100%;
		text-align: center;
	}
}

.review_summary_rating
{
	min-width: 100%;
}

.review_summary_rating > .row
{
	width: 100%;
}

.review_summary h2
{
	margin-top: .5em;
	margin-bottom: .5em;

	color: #8884FF;

	text-align: center;
	padding: .5em;

	width: 100%;
}

.review_summary .rating_star_filled
{
	font-size: 1.5em;
	line-height: 1em;
}

.review_summary .rating_star_filled:before
{
	color: #8884FF;
}

.review_summary .rating_star_empty:before
{
	/*color: #749DA0;*/
}

.review_summary .rating_star_empty
{
	font-size: 1.5em;
	line-height: 1em;
}

.review_summary ul
{
	padding-left: 1em;
	color: white;
	font-size: 1.7em;
	padding: 0;
	text-align: center;
	list-style: none;
}

.review_summary li {
	margin: .5em 0;
}

.review_summary_purchase
{
	flex-grow: 1;
	display: flex;

	justify-content: flex-start;
	align-items: center;
	flex-direction: column;

	background-color: #8884ff;
	padding-bottom: 1em;

	margin-top: 2em;
}

.review_summary_purchase h2
{
	color: white;
}

.review_summary_purchase li
{
	list-style: none;
	border-style: solid;
	border-radius: 5px;
	border-width: .25em;
	/*background-color: white;*/
	color: white;
	padding: .8em 3em;
	margin-bottom: .5em;

	font-weight: bolder;
	font-size: 1em;

	text-align: center;
}

.review_summary_purchase li:hover
{
	color: #D7BCE8;
}

.review_summary_purchase ul
{
	margin: 0px;
	padding: 0px;

	width: 70%;
}

.review_summary_rating
{
	flex-grow: 2;
	display: flex;
}

.review_summary_row
{
	display: flex;
	flex-wrap: wrap;
	width: 100%;

}

@media(min-width: 768px)
{
	.review_summary li {
		margin:0;
	}


	.review_summary .rating_star_empty:before
	{
			color: #D7BCE8;
	}


	.review_summary_row
	{
		flex-wrap: nowrap;
	}

	.review_summary
	{
		background-color: #8884FF;
		color: white;
		padding: 3em 0em;

	}

	.review_summary_purchase h2
	{
		text-align: center !important;
	}

	.review_summary h2
	{
		padding: unset;
		text-align: unset;
		margin-top: 0;
		color: white;
	}
	.review_summary_purchase
	{
		border-style: none none none solid;
		border-color: #D7BCE8;
		border-width: 1px;

		background-color: unset;

		margin-top: 0;
		padding: 0;
	}

	.review_summary_rating
	{
		min-width: unset;
	}

	.review_content img
	{
		display: inline-block;
		float: left;
		max-width: 35%;
		height: auto;
		margin: .5em 2em 2em 0;
	}

	.review_content .inline-float-left
	{
		display: inline-block;
		float: left;
		max-width: 30%;
		height: auto;
		margin: 2em 2em 2em 0;


	}

	.review_content .inline-float-right
	{
		display: inline-block;
		float: right;
		max-width: 30%;
		height: auto;
		margin: 2em 0em 2em 2em;

	}

	.review_summary ul
	{
		color: white;
		font-size: unset;
		padding: 0 0 0 1em;
		text-align: unset;
		list-style: disc;
	}


	.review_summary_purchase ul
	{
		width: auto;
	}

	.review_summary .rating_star_filled
	{
		font-size:1.5em;
	}

	.review_summary .rating_star_empty
	{
		font-size:1.5em;
	}

	.review_summary .rating_star_filled:before
	{
		color: white;
	}
}

.ad_container_article
{
	margin-bottom: 2em;
}

.comments-container
{
	margin-top: 2em;
	margin-bottom: 2em;
}
