{% set background_image = page.media['background.jpg'] %}
{% set css = page.header.styles %}
<div class="container marketing">
	<div class="row">
		{# Main Content Area #}
		<div class="col-md-8">
		{% for module in page.collection() %}
	        {# {% if module.header.title|contains('Slider')%} #}
	        {{ module.content }}
	       {#  {% endif %} #}
	    {% endfor %}
		</div>
		{# Sidebar Content #}
		<div class="col-md-4">
		</div>
	</div>
</div>