{% block partial_stylesheets %}
    {% do assets.add('theme://css/footer.css',100) %}

    {{ assets.css() }}
{% endblock %}

<div class="footer">
    <div class="container">
    	<div class="row">
    		<div class="col-sm-4">
    			<h3>Home</h3>
    			<ul>
    				<li><a href="#">Review 1</a></li>
    				<li><a href="#">Review 2</a></li>
    				<li><a href="#">Review 3</a></li>
    			</ul>
    		</div>
    		<div class="col-sm-4">
    			<h3>Contact</h3>
    			<ul>
    				<li><a href="#">Comments/Suggestions</a></li>
    				<li><a href="#">Advertising</a></li>
    				<li><a href="#">Send Us Something to Review!</a></li>
    			</ul>
    		</div>
    		<div class="col-sm-4">
    			<h3>About</h3>
    				<p>We are the top reviewers of international tech products!</p>
    			<ul>
    			</ul>
    		</div>
    	</div>
    </div>
</div>