<div class="header">
    <div class="logo_container">
        <img src="http://placehold.it/50x50" class="logo_image">
        <h1>{{ site.title }}</h1>
    </div>
    <div class="hamburger_col">
        <span id="hamburger_icon" class="hidden-sm hidden-md hidden-lg glyphicon glyphicon-menu-hamburger">
        </span>
    </div>
</div>
