{% if pagination|length > 1 %}

<nav>
    <ul class="pager">
        {% if pagination.hasPrev %}
            {% set url =  (pagination.params ~ pagination.prevUrl)|replace({'//':'/'}) %}
            <li class="next"><a rel="prev" href="{{ url }}">Newer <span aria-hidden="true">&rarr;</span></a></li>
        {% endif %}

        {% if pagination.hasNext %}
            {% set url =  (pagination.params ~ pagination.nextUrl)|replace({'//':'/'}) %}
            <li class="previous"><a rel="next" href="{{ url }}"><span aria-hidden="true">&larr;</span> Older</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
