<div class="sidebar_search_container">
  <form action="search" method="get">
    <div class="form-group">
   <div class="input-group">
     <input class="form-control" placeholder="Search..." type="text" value="{{ query }}" name="query"/>
     <span class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
    </span>
   </div>
 </div>
</div>
