<div class="categories-list-container social-list">
  <ul>
    <a href="https://www.facebook.com/Imported-Reviews-1702793983320693/">
      <li>
        <i class="fa fa-facebook"></i>
        <h4>Facebook</h4>
      </li>
    </a>
    <a href="https://www.instagram.com/importedreviews/?hl=en">
      <li>
        <i class="fa fa-instagram"></i>
        <h4>Instagram</h4>
      </li>
    </a>
    <a href="https://twitter.com/importedreviews">
      <li>
        <i class="fa fa-twitter"></i>
        <h4>Twitter</h4>
      </li>
    </a>
  </ul>
</div>
