<div class="tags-list-container">
  <ul>
    <a href="#">
      <li>
        <i class="fa fa-headphones"></i>
        <h4>Audio</h4>
      </li>
    </a>
    <a href="#">
      <li>
        <i class="fa fa-camera"></i>
        <h4>Cameras</h4>
      </li>
    </a>
    <a href="#">
      <li>
        <i class="fa fa-laptop"></i>
        <h4>Computers</h4>
      </li>
    </a>
    <a href="#">
      <li>
        <i class="fa fa-camera"></i>
        <h4>Cameras</h4>
      </li>
    </a>
    <a href="#">
      <li>
        <i class="fa fa-controller"></i>
        <h4>Gaming</h4>
      </li>
    </a>
    <a href="#">
      <li>
        <i class="fa fa-house"></i>
        <h4>Home</h4>
      </li>
    </a>
    <a href="#">
      <li>
        <i class="fa fa-cellphone"></i>
        <h4>Mobile</h4>
      </li>
    </a>
    <a href="#">
      <li>
        <i class="fa fa-television"></i>
        <h4>TVs</h4>
      </li>
    </a>
  </ul>
</div>
