{% extends 'partials/base.html.twig' %}

{% block content %}
	<div class="container marketing">
	    {{ page.content }}
	    {% for module in page.collection() %}
	        {% if module.header.title|contains('Slider')%}
	        {% else %}
	            {{ module.content }}
	        {% endif %}
	    {% endfor %}
	</div>
{% endblock %}
