{% extends 'partials/base.html.twig' %}


{% block content %}
	<div class="review_header">

			<div class="container review_header_container">
				<div class="review_header_content">
					<h1>
						<small>Title of the stuff</small><br/>
						This is a test
					</h1>
				</div>
			</div>

	</div>
	<div class="container review_content">
    	{{ page.content }}
    </div>
{% endblock %}