{% extends 'partials/simplesearch_base.html.twig' %}

{% block content %}
<div class="searchresults_title_container">
  <div class="container">
    <h1>
      {{"PLUGIN_SIMPLESEARCH.SEARCH_RESULTS"|t}}
    </h1>
    {% include 'partials/simplesearch_searchbox.html.twig' %}

    {% if page.content %}
    {{ page.content }}
    {% endif %}
  </div>
</div>
  <div class="container search-results-container">


      <div class="content-padding simplesearch">

      {% for page in search_results %}
          {% include 'partials/simplesearch_item.html.twig' with {'page':page} %}
      {% endfor %}
      </div>
    </div>
{% endblock %}
